*.pyc
__pycache__/
*.log
*.pot
*.mo
*.swp
*~
*.swo
.DS_Store
*.sqlite3
db.sqlite3
/media/
*.env
.env
.vscode/
.idea/
*.pyo
*.egg
*.egg-info
dist/
build/
*.egg
*.egg-info
.installed.cfg
*.egg-info/
*.eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
develop-eggs/
.installed.cfg
*.egg-info
.coverage
*.cover
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.tox/
htmlcov/
.Python
pip-log.txt
pip-delete-this-directory.txt
docs/_build/
.env/
.vscode/
*.env
*.env.*
.env
.env.*
*.local
